  @import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,900;1,100;1,200;1,300&display=swap');


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Braah One', sans-serif;
      font-family: 'Poppins', sans-serif;
  }

  /* header */

  header{
    background: url('../img/fondo.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(132, 202, 219) 90%), url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
.header-principal{
    background: #234380;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sociales{
    display: flex;
    cursor: pointer;
  }
  .sociales img:nth-child(3){
    margin-right: 4px;
    border-right: 2px solid #4163a3;
  }
  .sociales p{
    margin: auto;
    margin-left: 10px;
  }
  .contacto{
    display: flex;
  }
  .contacto p{
    margin: auto;
    margin-left: 10px;
    border-right: 2px solid #4163a3;
    padding-right: 4px;
    
    cursor: pointer;
  }
  .contacto p:nth-child(4){
    border: none;
  }
/* header parte dos */
  .navegacion{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  .logo span{
    font-weight: bold;
    font-size: 5vh;
  }
  .navegacion .links ul,li{
    list-style: none;
  }
  .navegacion .links, .logo{
    color: #fff;
    text-decoration: none;
  }
  .navegacion .links a{
    color: #fff;
    text-decoration: none;
  }
  ul {
    width: 170%;
    margin-top: 25px;
    display: flex;
    
  }
  ul a{
    margin-left: 30px;
  }
  ul a:hover{
    color: #ee6d3b;
    border-bottom: 1px solid #ee6d3b ;
  }
  .buscador{
    display: flex;
    height: 40px;
    width: 20%;
  }
  .buscador button{
    width: 200px;
    height: 40px;
    color: #fff;
    background: #ec3305;
    border: none;
    cursor: pointer;
  }
  .buscador button:hover{
    color: #fff;
    background: #e44922;
    border: 1px solid #fff;
  }
  .buscador img{
    margin: auto;
    cursor: pointer;
  }
  .bienvenida{
    color: #fff;
    margin-left: 300px;
    font-size: 3vh;
    margin-bottom: 10px;
  }
  .inicio{
    margin-top: 40px;
    margin-left: 300px;
  }
  .inicio span{
    border: none;
    background: #234380;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .inicio span:hover{
    background: #4163a3;
    border: 1px solid #fff;
  }
  /* cuerpo */
  /* promociones */
  .promociones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .promociones .car{
    margin-left: 30px;
  }
  .promociones .car:nth-child(1){
    background: url("../img/promocion1.jpg");
    background-size: cover;
    margin-left: -6px;
    width: 700px;
    height: 500px;
  }
  .promociones .car button{
    width: 200px;
    height: 40px;
    color: #fff;
    background: #ec3305;
    border: none;
    cursor: pointer; 
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: block;
  }
  .promociones .car button:hover{
    color: #fff;
    background: #e44922;
    border: 1px solid #fff;
  }
  .promociones .car .titulo-promo1{
    font-size: 3vh;
    font-weight: bold;
    margin-left: 100px;
  }
  .car__parrafo1{
    margin-left: 100px;
    margin-top: 30px;
  }
  .car__parrafo:nth-child(2){
    margin-left: 50px;
    margin-top: 30px;
  }
  .car__parrafo:nth-child(3){
    margin-left: 50px;
    margin-top: 30px;
  }
  .car img{
    display: block;
    width: 60px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .titulo-promo2{
    font-size: 3vh;
    font-weight: bold;
    margin-left: 50px;

  }

  .promociones .car:nth-child(2){
    background: url("../img/promocion2.jpg");
    background-size: cover;
    width: 450px;
    height: 500px;
  }
  .promociones .car:nth-child(3){
    background: url("../img/promocion3.jpg");
    background-size: cover;
    width: 450px;
    height: 500px;
  }

  /* Galeria */
  .destinos h2{
    margin-left: 99px;
  }
  .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: repeat(3,1fr); */
  }
  .galeria img{
    width: 550px;
    margin: 5px;
  }
  .galeria .texto-img:nth-child(5) img{
    height: 415px;
  }
  .texto-img{
    position: relative;
    display: inline-block;
  }
  .texto-img p{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  /* footer */
  .salida{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background: #77757559;
  }
  .notificacion img{
    width: 60px;
    height: 60px;
  }
  .notificacion{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  .notificacion span{
    color: #000;
    font-size: 3vh;
    font-weight: bold;
  }
  .notificacion p{
    font-size: 2vh;
    font-style: oblique ;
  }
  
  .mandarcorreo{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  .mandarcorreo #email{
    width: 400px;
    height: 50px;
    margin-right: -5px;
    border: none;
  }
  .mandarcorreo .boton-email{
    height: 50px;
    width: 100px;
    margin-right: -5px;
    border: none;
    color: #fff;
    background: #234380;
    cursor: pointer;
  }
  .mapa-pagina{
    display: flex;
    justify-content: space-around;
    color: #000;
    height: 100%;
  }
  .mapa-pagina span{
    
    font-weight: bold;
  }
  .opciones p{
    margin-top: 20px;
  }

.llamada{
    margin-top: 10px;
    border-left: 2px solid #234380;
    background: #72707071;
    width: 200px;
  }
  .llamada .email-pro{
    color: #234380;
    font-weight: bold;
  }
  .llamada img{
    width: 20px;
  }
  .llamada:nth-child(4){
    margin-top: -10px;
    margin-bottom: 100px;
  }
  .settings label{
    display: block;
    margin-top: 20px;
  }
  .settings select{
    width: 200px;
    border: none;
  }
  /* final footer */
  .fin-footer{
    display: flex;
    justify-content: space-around;
  }
  .fin-footer span{
    margin-right: 900px;
  }
  .fin-footer .divisas{
    margin-right: 30px;
  }